/* reset css */
@import url('./reset.css');

html{
  scroll-behavior: smooth;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ED5C5;
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 1;
}

.fa-house, .fa-bars {
    font-size: 3rem;
    color: black;
}

.header__title {
  font-size: 2rem;
}

.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    position: fixed;
    border-radius: 8px;
    margin-left: 30px;
    width: 140px;
    height: 200px;
    background-color: #98DDCA;
}

.nav-section__title {
    text-align: center;
    font-size: 1.5rem;
}

.nav-section__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 12px;
    border-radius: 10px;
    width: 80px;
    height: 140px;
    background-color: #CDF0EA;
}

.nav-section__ul li {
    list-style-type: none;
    list-style: none;
    background-color: white;
}

.nav-section__ul li a:hover {
  background-color: black;
  color: aqua;
}

.nav-section__ul li a {
    text-decoration: none;
    color: black;
}

main {
  margin-left: 12rem;
  padding-top: 8%;
}

main h2 {
  margin-bottom: 2rem;
  scroll-margin-top: 4rem; /* header 고정 높이만큼 */
}


.banner-section {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 95rem;
  height: 16rem;
  }
  
  .banner-section__container {
    display: flex;
    position: absolute; 
    width: max-content; 
    animation: slide 20s linear infinite; 
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%); 
    }
  }

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

.section-title {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    padding: 15px;
  }



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #8EC3B0;
}

footer ul {
    list-style-type: none;
}
  
  
  @keyframes pulse {
    0% {
      transform: scale(1); 
    }
    100% {
      transform: scale(1.1);
    }
  }


@media (max-width: 1170px) {
    img {
        gap: 30px;
        width: 410px;
        height: 360px;
        font-size: large;
      }
    }
  @media (max-width: 1120px) {
    img {
        gap: 30px;
        width: 800px;
        height: 480px;
        font-size: large;
      }
    }

/* 오른쪽 네비게이션 스타일 */
.right-nav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0; 
  background-color: #50b69c; 
  overflow-x: hidden; 
  transition: 0.5s; 
}

.right-nav ul a {
  padding: 10px 15px; 
  text-decoration: none; 
  font-size: 25px; 
  color: white; 
  display: block; 
}

/* 닫기 버튼 스타일 */
.back-btn {
  display: felx;
  margin-left: 1rem;
  font-size: 3rem;
}


.section-products {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 4rem;
}

.section-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  height: 20rem;
  padding: 8% 0;
  background-color: #9ED5C5;

}

.section-img {
  width: 70%;
  height: 60%;
}
  
 
.section-heart{
  width: 10%;
  height: 10%;
  margin-top: 10%;
}

.section-name {
  margin-top: 5%;

  font-size: 2.5rem;
  font-weight: 500;
}

.section-price {
  margin-top: 5%;

  font-size: 1.5rem;
  font-weight: 500;
}
  